<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qding.bigdata.ds.dao.PropertyLevelDao" >

    <resultMap id="BaseResultMap" type="PropertyLevel">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="property_name" property="property_name" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="save" parameterType="PropertyLevel">
        INSERT INTO ds_property_level(id,city,property_name,level,remarks)
        VALUES (#{id},#{city},#{property_name},#{level},#{remarks})
    </insert>

    <select id="list" resultMap="BaseResultMap" parameterType="PropertyLevel">
        select
        id,city,property_name,level,remarks
        from ds_property_level
    </select>
    <delete id="delete" parameterType="PropertyLevel">
        delete from ds_property_level
    </delete>
</mapper>