<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qding.bigdata.ds.dao.StarVeinSalesWlwLhdnkDao" >

    <resultMap id="BaseResultMap" type="StarVeinSalesWlwLhdnk">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="qujian" property="qujian" jdbcType="VARCHAR" />
        <result column="plan_amount" property="plan_amount" jdbcType="VARCHAR" />
        <result column="main_product" property="main_product" jdbcType="VARCHAR" />
        <result column="project_stage" property="project_stage" jdbcType="VARCHAR" />
        <result column="plan_date" property="plan_date" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="save" parameterType="StarVeinSalesWlwLhdnk">
        INSERT INTO ds_star_vein_sales_wlw_lhdnk(id,qujian,plan_amount,main_product,project_stage,plan_date,remarks)
        VALUES (#{id},#{qujian},#{plan_amount},#{main_product},#{project_stage},#{plan_date},#{remarks})
    </insert>

    <select id="list" resultMap="BaseResultMap" parameterType="StarVeinSalesWlwLhdnk">
        select
        id,qujian,plan_amount,main_product,project_stage,plan_date,remarks
        from ds_star_vein_sales_wlw_lhdnk
    </select>
    <delete id="delete" parameterType="StarVeinSalesWlwLhdnk">
        delete from ds_star_vein_sales_wlw_lhdnk
    </delete>
</mapper>