<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qding.bigdata.ds.dao.DIMCategoryDao" >
  <resultMap id="BaseResultMap" type="com.qding.bigdata.ds.model.DIMCategory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="fid" property="fid" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="BIGINT" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIGINT" />
    <result column="is_del" property="isDel" jdbcType="BIGINT" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fid, name, code, remark, sort, img_url, status, is_del, create_at, update_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dim_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dim_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qding.bigdata.ds.model.DIMCategory" >
    insert into databus.dim_category (id, fid, name,
      code, remark, sort, 
      img_url, status, is_del, 
      create_at, update_at)
    values (#{id,jdbcType=BIGINT}, #{fid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{sort,jdbcType=BIGINT}, 
      #{imgUrl,jdbcType=VARCHAR}, #{status,jdbcType=BIGINT}, #{isDel,jdbcType=BIGINT}, 
      #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qding.bigdata.ds.model.DIMCategory" >
    insert into databus.dim_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=BIGINT},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIGINT},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qding.bigdata.ds.model.DIMCategory" >
    update databus.dim_category
    <set >
      <if test="fid != null" >
        fid = #{fid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=BIGINT},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=BIGINT},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qding.bigdata.ds.model.DIMCategory" >
    update databus.dim_category
    set fid = #{fid,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=BIGINT},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIGINT},
      is_del = #{isDel,jdbcType=BIGINT},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="listByIDs" resultMap="BaseResultMap" parameterType="String">
    select
    <include refid="Base_Column_List" />
    from databus.dim_category
    where id in (${ids})
  </select>
  <select id="matchCategoryIDOrName" resultMap="BaseResultMap" parameterType="String">
    select
    id,name
    from databus.dim_category
    where
    <if test='isMatch != null and isMatch == false'>
      id in (${searchKey})
    </if>
    <if test='isMatch == null or isMatch == true'>
      name like CONCAT('%',#{searchKey},'%')
      <if test="flag == true">
        OR id=#{searchKey}
      </if>
    </if>
  </select>
  <select id="matchCategoryIDOrNameCount" resultType="java.lang.Integer" parameterType="String">
    select
    count(*)
    from databus.dim_category
    where
    <if test='isMatch != null and isMatch == false'>
      id in (${searchKey})
    </if>
    <if test='isMatch == null or isMatch == true'>
      name like CONCAT('%',#{searchKey},'%')
      <if test="flag == true">
        OR id=#{searchKey}
      </if>
    </if>
  </select>
</mapper>