<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qding.bigdata.ds.dao.SchemeExecutorDao">

	<update id="execute" parameterType="String">
		${sql}
	</update>
	<select id="checkIsExistTable" parameterType="String" resultType="String" >
		${sql}
	</select>
</mapper>