<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qding.bigdata.ds.ps.MisUserDao">
	<!--查询mis用户列表-->
	<select id="listUser" resultType="map" parameterType="map">
		SELECT t.*,t1.HR_STATUS from (SELECT
		PHPI.EMPLID,
		PHPI.GUID,
		PHPI.HPS_OA_ACC,
		PHPI."NAME",
		PHPI.SEX,
		PHPI.BIRTHDATE,
		PHPI.PHONE1,
		PHPI.PHONE2,
		PHPI.EMAIL_ADDR,
		PHPI.START_DT_CHN,
		PHPI.ACTION_TYPE
		FROM
		SYSADM.PS_HPS_PERS_INCRMT PHPI,
		(
		SELECT
		EMPLID,
		"MAX" (LASTUPDDTTM) LASTUPDDTTM
		FROM
		SYSADM.PS_HPS_PERS_INCRMT
		GROUP BY
		EMPLID
		) PHPIT
		WHERE HPS_OA_ACC != ' ' AND PHPI.EMPLID = PHPIT.EMPLID AND PHPI.LASTUPDDTTM = PHPIT.LASTUPDDTTM
		<if test="lastTime != null">
			AND	PHPI.LASTUPDDTTM > #{lastTime}
		</if>
		) t
		LEFT JOIN (SELECT PHJI.EMPLID,PHJI.DEPTID,PHJI.EMPLID2,PHJI.HR_STATUS FROM SYSADM.PS_HPS_JOB_INCRMT PHJI,
		(
		SELECT
		EMPLID,
		"MAX" (LASTUPDDTTM) LASTUPDDTTM
		FROM
		SYSADM.PS_HPS_JOB_INCRMT
		GROUP BY
		EMPLID
		) PHJIT
		WHERE
		PHJI.EMPLID = PHJIT.EMPLID AND PHJI.LASTUPDDTTM = PHJIT.LASTUPDDTTM) t1 ON t1.EMPLID = t.EMPLID
	</select>

	<!--每日查询mis用户表增量信息-->
	<select id="listUserByParam" resultType="map" parameterType="map">
		SELECT t.*,t1.HR_STATUS from (SELECT
		PHPI.EMPLID,
		PHPI.GUID,
		PHPI.HPS_OA_ACC,
		PHPI."NAME",
		PHPI.SEX,
		PHPI.BIRTHDATE,
		PHPI.PHONE1,
		PHPI.PHONE2,
		PHPI.EMAIL_ADDR,
		PHPI.START_DT_CHN,
		PHPI.ACTION_TYPE
		FROM
		SYSADM.PS_HPS_PERS_INCRMT PHPI,
		(
		SELECT
		EMPLID,
		"MAX" (LASTUPDDTTM) LASTUPDDTTM
		FROM
		SYSADM.PS_HPS_PERS_INCRMT
		GROUP BY
		EMPLID
		) PHPIT
		WHERE HPS_OA_ACC != ' ' AND PHPI.EMPLID = PHPIT.EMPLID AND PHPI.LASTUPDDTTM = PHPIT.LASTUPDDTTM
			AND PHPI.LASTUPDDTTM BETWEEN TO_TIMESTAMP (#{startdate},'yyyy-mm-dd hh24:mi:ss')
		AND TO_TIMESTAMP (#{enddate},'yyyy-mm-dd hh24:mi:ss')
		) t
		LEFT JOIN (SELECT PHJI.EMPLID,PHJI.DEPTID,PHJI.EMPLID2,PHJI.HR_STATUS FROM SYSADM.PS_HPS_JOB_INCRMT PHJI,
		(
		SELECT
		EMPLID,
		"MAX" (LASTUPDDTTM) LASTUPDDTTM
		FROM
		SYSADM.PS_HPS_JOB_INCRMT
		GROUP BY
		EMPLID
		) PHJIT
		WHERE
		PHJI.EMPLID = PHJIT.EMPLID AND PHJI.LASTUPDDTTM = PHJIT.LASTUPDDTTM) t1 ON t1.EMPLID = t.EMPLID
	</select>

	<!--查询每日离职人员信息-->
	<select id="selectMisUserLeaveByJob" resultType="map" parameterType="map">
		SELECT
			PHJI.EMPLID,
			PHJI.DEPTID,
			PHJI.EMPLID2,
			PHJI.HR_STATUS,
			PHPI.HPS_OA_ACC,
			PHPI."NAME"
		FROM
			SYSADM.PS_HPS_JOB_INCRMT PHJI,
			(
				SELECT
					EMPLID,
					"MAX" (LASTUPDDTTM) LASTUPDDTTM
				FROM
					SYSADM.PS_HPS_JOB_INCRMT
				GROUP BY
					EMPLID
			) PHJIT
		LEFT JOIN SYSADM.PS_HPS_PERS_INCRMT PHPI ON PHPI.EMPLID = PHJIT.EMPLID
		WHERE
			PHJI.EMPLID = PHJIT.EMPLID
		AND PHJI.LASTUPDDTTM = PHJIT.LASTUPDDTTM
		AND HR_STATUS = 'I'
		AND PHJI.LASTUPDDTTM BETWEEN TO_TIMESTAMP (#{startdate},'yyyy-mm-dd hh24:mi:ss')
		AND TO_TIMESTAMP (#{enddate},'yyyy-mm-dd hh24:mi:ss')
	</select>



</mapper>