<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="esDataSource"  class="org.apache.commons.dbcp.BasicDataSource"  destroy-method="close">
        <property name="driverClassName" value="${es.sql.driver}" />
        <property name="url">
            <value><![CDATA[jdbc:es://${es.sql.urls}]]></value>
        </property>
        <property name="username" value="" />
        <property name="password" value="" />
        <property name="testOnBorrow" value="true" />
        <!--<property name="validationQuery" value="SELECT 1" />-->
        <property name="testWhileIdle" value="true" />
        <!-- 连接池启动时的初始值 -->
        <property name="initialSize" value="10" />
        <!-- 连接池的最大值 -->
        <property name="maxActive" value="150" />
        <!-- 最大空闲值.当经过一个高峰时间后，连接池可以慢慢将已经用不到的连接慢慢释放一部分，一直减少到maxIdle为止 -->
        <property name="maxIdle" value="50" />
        <!-- 最小空闲值.当空闲的连接数少于阀值时，连接池就会预申请去一些连接，以免洪峰来时来不及申请 -->
        <property name="minIdle" value="20" />
        <property name="removeAbandonedTimeout" value="10" />
        <property name="removeAbandoned" value="true" />
        <!-- #运行判断连接超时任务的时间间隔，单位为毫秒，默认为-1，即不执行任务。 -->
        <property name="timeBetweenEvictionRunsMillis" value="500000" />
        <!-- #连接的超时时间，默认为半小时。 -->
        <property name="minEvictableIdleTimeMillis" value="600000" />
    </bean>

    <bean id="esSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="esDataSource" />
        <property name="typeAliasesPackage" value="com.qding.bigdata.ds.model" />
        <property name="mapperLocations" value="classpath:es_mappers/*.xml" />
        <property name="configLocation" value="classpath:mybatis-config-es.xml"></property>
    </bean>

    <bean id="esSqlSession" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
        <constructor-arg index="0" ref="esSqlSessionFactory"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="esSqlSessionFactory"></property>
        <property name="basePackage" value="com.qding.bigdata.ds.dao" />
    </bean>
</beans>